body {
    margin: 0;
}

.container {
    width: 80%;
    overflow: hidden;
    margin: auto;
}

.header {
    width: 100%;
    overflow: hidden;
    background: rgb(150, 150, 150);
}

.header .logo {
    font-size: 32px;
    float: left;
}

.header .navigation {
    float: right;
    margin-top: 40px;
}

.header .navigation li {
    float: right;
    margin-left: 20px;
    font-size: 18px;
    display: block;
}

.header .navigation li a {
    color: aliceblue;
    text-decoration: none;
}